<h1>Cadastrar Usuario</h1>
<form action="/cad-usuario" method="post">
    <label>Nome</label>
    <input type="text" name="name">
    <label>email</label>
    <input type="text" name="email">
    <label>idade</label>
    <input type="text" name="idade">
    <input type="submit" value="Cadastrar">
</form>